@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    z-index: 1;
    padding: 0;
    margin: 0;
}

html {
    background-color: black;
}

body{
    z-index: -1;
    padding: 0;
    margin: 0;
    object-fit: contain;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.209), rgb(0, 0, 0)),
    url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-s85-mn-10-1_2.jpg?w=1300&dpr=1&fit=default&crop=default&q=80&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=93cb1fd4b4e1d44cca5d00f30f8e1383");
    background-size: 100%;
    height: 100%;
    color: white;
}

nav {
    position: fixed;
    text-align: center;
    width: 100%;
    font-size: 24px;
    background-color: rgb(44, 28, 24);
    padding: 16px;
    z-index: 5;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
}

nav a {
    font-family: Lobster;
    font-size: 32px;
    color: rgb(222, 220, 195);
    text-decoration: none;
}

.menu-icon {
    margin-top: 7px;
    width: 30px;
}

.bar-1{
    background-color: rgb(222, 220, 195);
    height: 8px;
    margin-bottom: 3px;
    width: 30px;
}
.bar-2{
    background-color: rgb(222, 220, 195);
    height: 8px;
    margin-bottom: 3px;
    width: 30px;
}
.bar-3{
    background-color: rgb(222, 220, 195);
    margin-bottom: 3px;
    height: 8px;
    width: 30px;
}

main {
    padding: 8px;
    padding-top: 100px;
}

img {
    object-fit: cover;
    height: 250px;
    width: 250px;
    z-index: 3;
    border-radius: 15px;
    transition: width .5s;
}

img:hover {
    width: 400px;
}

.text {
    background-color: rgb(77, 62, 49);
    height: 250px;
    width: 600px;
    margin-left: -250px;
    float: right;
    border-radius: 50px;
    z-index: 0;
    box-shadow: 5px 5px 30px black;
}

.text p.title {
    font-family: Lobster;
    height: 15%;
    margin-bottom: 15px;
    width: 55%;
    float: right;
    font-size: 32px;
    font-weight: bold;
    padding-top: 25px;
    color: rgb(222, 220, 195);
}

.text p.description{
    height: 45%;
    width: 55%;
    float: right;
    font-size: 18px;
    z-index: 0;
    color:rgb(159, 159, 126);
}

.rating {
    color:rgb(174, 174, 147);
    z-index: 0;
    width: 55%;
    text-align: right;
    padding-right: 25px;
    padding-top: 13px;
    font-size: 22px;
    float: right;
}

.grid{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.grid_item {
    margin: 8px 8px 8px 8px;
}


footer{
    margin-top: 72px;
    margin-bottom: 30px;
    padding: 24px, 0px;
    text-align: center;
    color: rgb(159, 159, 126);
}
