@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    z-index: 1;
    padding: 0;
    margin: 0;
}

html {
    background-color: black;
    text-align: c;
}

body{
    z-index: -1;
    padding: 0;
    margin: 0;
    object-fit: contain;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.209), rgb(0, 0, 0)),
    url("https://mks.io/public-tacos");
    background-size: 100%;
    height: 100%;
    color: white;
}

main {
    padding-top: 70px;
}

nav {
    margin: 0;
    padding: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    font-size: 24px;
    background-color: rgb(44, 28, 24);
    padding: 16px;
    z-index: 5;
}

nav a {
    padding: 0;
    margin: 0;
    font-family: Lobster;
    font-size: 32px;
    color: rgb(222, 220, 195);
    text-decoration: none;
}

h1 {
    padding-left: 10px;
    font-family: Lobster;
    font-size: 72px;
    color:rgb(222, 220, 195);
    text-shadow: 10px 10px 20px black;
}


.block{
    margin: 10px;
    height: 100%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

img, .ingredients {
    margin: 0% 25%;
}

h2 {
    font-family: Lobster;
    color: rgb(222, 220, 195)
}

.steps {
    text-align: center;
    font-size: 32px;
}

img {
    height: 500px;
    width: 500px;
    border-radius: 10px;
}



footer{
    margin-top: 72px;
    margin-bottom: 30px;
    padding: 24px, 0px;
    text-align: center;
    color: rgb(159, 159, 126);
}
